<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Disease Type System </title>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Disease Type System</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/countrys}">Country</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/diseases}">Disease</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/diseaseTypes}">Disease Type</a>
      </li>

    </ul>
  </div>
</nav>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card ">
      <h1 class="text-center"> Create New Disease Type </h1>
      <div class="card_body">
        <form th:action="@{/diseaseTypes}" th:object="${diseaseType}" method ="POST">
          <div class="form-group">
            <label> diseaseType cname</label>
            <input
                    type="text"
                    name="cname"
                    th:field="*{cname}"
                    class="form-control"
                    placeholder="Enter Disease type cname"
            />
          </div>



          <div class = "box-footer">
            <button type="submit" class ="btn btn-primary">
              Submit
            </button>

          </div>

        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>